body {
  background-color: #DFDFDF;
  font-family: Optima, sans-serif;
  text-align: center;
}

#title {
  font-style: italic;
}

.login {
  margin: auto;
  border-radius: 15px;
  color: #333;
  background-color: tan;
  box-shadow: 10px 10px 5px #888888;
  border: 20px solid #589442;
  width: 475px;
  height: 250px;
  position: relative;
}

.login > div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login input {
  font-family: Optima, sans-serif;
  font-size: 16px;
  padding: 4px;
  margin: 0.5em;
}

.button {
  display: inline-block;
  font-size: 18px;
  margin: 0.5em;
  padding: 10px 16px 10px 16px;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.42);
  border-radius: 3px;
  cursor: pointer;
  background-color: #F3F3F3;
}

.button:hover {
  background-color: white;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.42);
}

.board {
  cursor: pointer;
  max-width: 550px;
  background-color: grey;
  border: 20px solid #589442;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 15px;
  margin: auto;
  position: relative;
}

#waitingMessage {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 64px;
  padding: 64px;
  /*box-shadow: rgba(0,0,0,0.5) 0px 20px 30px, inset rgba(0,0,0,0.5) 0px -10px 20px;*/
  border-radius: 9999px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.square {
  margin-bottom: -4px;
  display: inline-block;
  border: 1px solid grey;
  width: 66px;
  height: 66px;
  position: relative;
}

.square:hover {
  opacity: 0.6;
}

.square .piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.white {
  background-color: white;
}

.tan {
  background-color: tan;
}

.selected {
  opacity: 0.2;
  border: 1px solid yellow;
}

