body {
  background-color: #DFDFDF;
  font-family: Optima, sans-serif;
  text-align: center;
}

#title {
  font-style: italic;
}

.button {
  display: inline-block;
  font-size: 18px;
  margin: 0.5em;
  padding: 10px 16px 10px 16px;
  box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.42);
  border-radius: 3px;
  cursor: pointer;
  background-color: #F3F3F3;
}

.button:hover {
  background-color: white;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.42);
}
